body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitform{
    margin-top: 100px;
    border: 2px solid black;
    padding: 100px;
    background-color: cadetblue;
    border-radius: 5px;
}
input{
    height: 30px;
    width: 400px;
    border: 2px solid  black;
    border-radius: 3px;
}
.submitbtn{
    height: 35px;
    width: 100px;
    border: 2px solid  black;
    margin: 5px;
    border-radius: 3px;
}
.reset-button{
    height: 35px;
    width: 100px;
    border: 2px solid  black;
    margin: 5px;
    border-radius: 3px;
}
.todoListItem {
    list-style: none;
    padding: 0;
}

.todoListItem li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
}

.todoListItem .buttons {
    display: flex;
}

.todoListItem button {
    margin-left: 5px;
    cursor: pointer;
}
.com-uncom{
    height: 35px;
    width: 100px;
    border: 2px solid  black;
    margin: 5px;
    border-radius: 3px;
    background-color: rgb(24, 235, 24);
    color: white;
    font-weight: 700;
}
.removebtn{
    height: 35px;
    width: 100px;
    border: 2px solid  black;
    margin: 5px;
    border-radius: 3px;
    background-color: rgb(225, 57, 57);
    color: white;
    font-weight: 700;
}